
$classNamePrefix: 'tiga-swiper';
.tiga-swiper-container {
  display: flex;
  height: 100%;
  transition-duration: 0ms;
  transition-timing-function: ease;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.tiga-swiper-wrap{
  touch-action: none;
}
.tiga-swiper-container__vertical{
  flex-direction: column;
}
.tiga-swiper-item {
  overflow: hidden;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  width: 100%;
  height: 100%;
  cursor: default;
  position: relative;
}
.tiga-swiper-item > div {
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tiga-swiper {
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
}
.tiga-swiper-indicator {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
  &.tiga-indicator__disable{
    svg{
      fill: #dbdbdb;
    }
  }
}
.tiga-dots-wrap {
  position: absolute;
  height: 20px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5px;
  background: #808080;
  border-radius: 20px;
}
.tiga-dots {
  width: 10px;
  height: 10px;
  background: #dcdee0;
  border-radius: 50%;
  margin-right: 6px;
  cursor: pointer;
}
.tiga-dots-active {
  background: #ffffff;
}
.tiga-swiper__vertical .tiga-dots-wrap{
  left: 10px;
  bottom: auto;
  transform: translateY(-50%);
  flex-direction: column;
  width: auto;
  top: 50%;
  height: auto;
  .tiga-dots{
    margin-right: 0;
    margin-top: 10px;
    &:last-of-type{
      margin-bottom: 10px;
    }
  }
}
.tiga-swiper__vertical{
  .tiga-indicator-left{
    top: 20px;
    left: 50%;
    transform: translateX(-50%) translateY(0) rotate(90deg);
  }
  .tiga-indicator-right{
    top: auto;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%) translateY(0) rotate(90deg);
  }
}

.tiga-indicator-left {
  left: 10px;
}
.tiga-indicator-icon {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  // background: crimson !important;
}
.tiga-indicator-icon svg{
  width: 20px;
  height: 20px;
  -webkit-tap-highlight-color: transparent;
  // background: chartreuse !important;
}
.tiga-indicator-right {
  right: 10px;
}


